/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family: futura;
  height: 100vh;
  background-color: rgb(96, 96, 96);
  padding: .5rem;
}
	
div.wrapper {
  max-width: 64rem;
  margin: 0 auto;
  border: 10px solid #e00122;
  box-shadow: 0px 7px 10px black;
  background-color: white;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color: #e00122;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em .5em;
  color: white;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  margin: 1em;
}

header h1 {
  font-family: futura;
  font-weight: bolder;
  font-size: 300%;
}

/* ⬇ The h1's link */
header h1 a {
  text-decoration: none;
  color: white;
}

header h2 {
  font-size: 125%;
  padding-top: .5em;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 

}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  margin: .5em;
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: white; /* ← you can change this */
  transition: all 0.3s;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: white; /* ← you can change this */
	border-radius: 2rem;
  color: black;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 2em;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 170%;
  border-bottom: 2px solid #e00122;
  margin-bottom: 10px;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 160%;
  line-height: 1.15;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  background-color: rgb(241, 241, 241);
  border-radius: 1em;
  border-color: 5px solid black;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  margin: 1em;
  padding: 1em;
  grid-column: 4/5;
  grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  margin: 1em;
  padding: 1em;
  grid-column: 4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  font-size: 110%;
  margin-bottom: .25em;
  text-transform: uppercase;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left: 1rem;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: .5rem;
  margin-left: .5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  text-decoration: none;
  color: black;
  display: block;
  padding: .2em;
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  color: #e00122;
  transition: all 0.2s ease;
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/5;
  grid-row: 3/5;
  gap: 2em;
  margin: 2em;
  border: 3px solid #e00122;
  border-radius: 1em;
  padding: 2em;
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */

}

/* ⬇ Name of each building */
section.campus h3 {
  font-size: 166%;
  padding-bottom: 1em;
  line-height: 150%;
  text-align: center;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
  margin-bottom: .5em;
}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
  margin-right: em;
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  margin: 1em;
  font-size: 110%;
}



/* FOOTER
---------------------------------------*/

footer {
  background-color: #e00122;
  color: white;
  padding: 1.5em;
}

footer small { 
  font-size: 110%;
  line-height: 130%;
}

/* ⬇ The link in the footer */
footer a {
  text-decoration: none;
  color: white;
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

